name: Build

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
    workflow_dispatch:

env:
    PRESET: linux-debug

jobs:
    build:
        name: Check
        runs-on: ubuntu-latest
        container: docker.io/ariolajohncarlo/sfml:1.4.0

        steps:
        - name: Setup repository
          uses: actions/checkout@v4

        - name: Configure CMake
          run: cmake --preset ${{ env.PRESET }}


        - name: Build
          run: cmake --build --preset ${{ env.PRESET }}

        - name: Run unit tests
          run: ctest --preset ${{ env.PRESET }}

        - name: Upload artifact
          uses: actions/upload-artifact@v4 # Use the latest version
          with:
            name: shared-file-artifact
            path: out/build/linux-debug/tests/test_detail.xml
    report-test:
      name: Report
      runs-on: ubuntu-latest
      needs: build

      steps:
        - name: Setup repository
          uses: actions/checkout@v4

        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: shared-file-artifact # Use the same artifact name as in job1
            path: .

        - name: Test Report
          uses: dorny/test-reporter@v2
          if: success() || failure()
          with:
            name: JEST Tests
            path: test_detail.xml
            reporter: jest-junit
